.bgimage{
	background-image: url('overturecenter.jpg');
	background-size: 100% 110%;
    background-blend-mode: darken;
    opacity: .8;
	width: 100%;
<<<<<<< HEAD
	height: 100vh;
=======
	height: 100%;
>>>>>>> milindh
}